.action-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}


.title-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #8B4513; /* marron foncé */
}


.info-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #a0522d; /* un peu plus doux que le titre */
}


.content-text {
    -fx-font-size: 14px;
    -fx-fill: #333333; /* gris foncé lisible */
    -fx-font-family: "Georgia", serif; /* police plus élégante */
    -fx-wrap-text: true;
}

.title-label, .info-label {
    -fx-font-family: "Segoe Script", cursive;
}

.recipe-card {
    -fx-background-image: url("../images/parchemin.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-radius: 15;
}

.setting-card {
    -fx-background-image: url("../images/setting_background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.container-userSetting {
    -fx-background-color: #FFEB3B;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.user-setting-input-field {
    -fx-font-size: 14px;
    -fx-background-color: #FFF8E1; /* Fond clair */
    -fx-border-color: #D4A157; /* Bordure jaune */
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}